button
{
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.CornerButton
{
  transition: color 300ms cubic-bezier(.23, 1, 0.32, 1), background-color 300ms cubic-bezier(.23, 1, 0.32, 1), transform 0.5s ease-in-out;
  gap: 4px;
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: white;
  color: #3B3B3B;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
}

.CornerButton:disabled {
    pointer-events: none;
}

.CornerButton:hover {
    color: #fff;
    background-color: black;
}

.CornerButton:active {
    box-shadow: none;
}

.DonationStackButton:hover svg path 
{
  stroke: white;
}

.CreditsButton:hover svg path 
{
  fill: white;
}

.CreditsCloseButton
{
  transform: translateX(700px);
  /* height: 34px;
  width: 34px;
  padding: 3px; */
}

/* .CreditsCloseButton svg
{
  width: 90%;
  height: 90%;
} */

.CreditsCloseButton:hover
{
  background-color: black;
}
/* 
.CreditsCloseButton:hover svg path 
{
  fill: white;
} */


.DonationPannelContainer
{
    width: 100vw;
    height: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.DonationPannel
{
    width: 300px;
    margin: 8px;
    padding: 12px;
    background-color: white;
    border-radius: 10px;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
    position: relative;
}

.DonationPannel h2
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin: 0;
    color: black;
    font-size: 20px;
}

.DonationPannel p
{
    border-bottom: solid black 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin: 0;
    padding: 0px 0px 12px;
    text-align: center;
    color: black;
    font-size: 16px;
}

.DonationButton
{
  width: 100%;
  background-color: white;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  min-height: 40px;
  overflow: hidden;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  vertical-align: middle;
}

.DonationButton:hover,
.DonationButton:focus
{
  color: white;
}

.PaypalButton
{
  border: 1px solid  #0A66C2;
  color: #0A66C2;
}

.GiveSendGoButton
{
  border: 1px solid  crimson;
  color: crimson;
}

.GiveButterButton
{
  border: 1px solid  goldenrod;
  color: goldenrod;
}

.PaypalButton:hover,
.PaypalButton:focus 
{ 
  background-color: #0A66C2;
}

.GiveSendGoButton:hover,
.GiveSendGoButton:focus 
{ 
  background-color:crimson;
}

.GiveButterButton:hover,
.GiveButterButton:focus 
{ 
  background-color:goldenrod;
}

.DonationButton:disabled 
{ 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.DonationCloseButton
{
  position: absolute;
  top: -40px;
  right: 0px;
  height: 34px;
  width: 34px;
  padding: 3px;
  backdrop-filter: blur(2px);
  background-color: transparent;
}

.DonationCloseButton svg
{
  width: 90%;
  height: 90%;
}

.DonationCloseButton:hover
{
    background-color: white;
}

.CreditsContainer
{
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  height: 100dvh;
  width: 700px;
  transition: transform 0.5s ease-in-out;
  background-color: lightgray;
  place-items: center;
  grid-template-rows: 100px minmax(0, 1fr) 120px;
}

.CreditsContainer > img
{
  grid-row-start: 1;
  height: 60px;
  width: 60px;
}

.CreditsContainer.hidden
{
  transform: translateX(-700px);
}

.CreditCardContainer
{
  width: 0;
  height: 0;
  grid-row-start: 1;
  position: relative;
}

.CreditCard
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 400px;
  position: absolute;
  left: -200px;
  top: -212px;
  transition: all 1s ease-in-out;
}

.CreditCard.PhotoContainer.Position_0
{
  opacity: 1;
  transform: translateX(0px);
}

.CreditCard.Position_1,
.CreditCard.Position_2,
.CreditCard.Position_3,
.CreditCard.Position_4,
.CreditCard.Position_5,
.CreditCard.Position_6,
.CreditCard.Position_7,
.CreditCard.Position_8
{
  opacity: 0;
  transform: translateX(200px);
  pointer-events: none;
}

.CreditCard.Position_-1,
.CreditCard.Position_-2,
.CreditCard.Position_-3,
.CreditCard.Position_-4,
.CreditCard.Position_-5,
.CreditCard.Position_-6,
.CreditCard.Position_-7,
.CreditCard.Position_-8
{
  opacity: 0;
  transform: translateX(-200px);
  pointer-events: none;
}

.CreditCard img
{
  border-radius: 50%;
  width: 100%;
}

.CreditsSelectionContainer
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    grid-row-start: 2;
}

.CreditsSelectionContainer button
{
  width: 40px;
  height: 40px;
  background-color: transparent;
  outline: solid white 1px;
}

.CreditsSelectionContainer button svg path
{
  fill: white;
}

.PhotosPreviewContainer
{
  width: 0;
  height: 0;
  gap: 8px;
  position: relative;
}

.PhotoContainer {
  position: absolute;
  top: -54px;
  left: -20px;
  width: 40px;
  height: 108px;
  perspective: 800px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.PhotoContainer.Position_0
{
  opacity: 1;
  transform: translateX(0px);
}

.PhotoContainer.Position_1
{
  opacity: 0.66;
  transform: translateX(52px);
  scale: 0.9;
}

.PhotoContainer.Position_2
{
  opacity: 0.33;
  transform: translateX(112px);
  scale: 0.8;
}

.PhotoContainer.Position_3
{
  opacity: 0;
  transform: translateX(160px);
  scale: 0.7;
  pointer-events: none;
}

.PhotoContainer.Position_4,
.PhotoContainer.Position_5,
.PhotoContainer.Position_6,
.PhotoContainer.Position_7
{
  opacity: 0;
  transform: translateX(208px);
  scale: 0.6;
  pointer-events: none;
}

.PhotoContainer.Position_-1
{
  opacity: 0.66;
  transform: translateX(-52px);
  scale: 0.9;
}

.PhotoContainer.Position_-2
{
  opacity: 0.33;
  transform: translateX(-112px);
  scale: 0.8;
}

.PhotoContainer.Position_-3
{
  opacity: 0;
  transform: translateX(-160px);
  scale: 0.7;
  pointer-events: none;
}

.PhotoContainer.Position_-4,
.PhotoContainer.Position_-5,
.PhotoContainer.Position_-6,
.PhotoContainer.Position_-7
{
  opacity: 0;
  transform: translateX(-208px);
  scale: 0.6;
  pointer-events: none;
}

.PhotoContainer div {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  transform: skewX(12deg);
  overflow: hidden;
  border: solid white 2px;
}

.PhotoContainer div img {
  width: 120px;
  height: 100%;
  object-fit: cover;
  transform: skewX(-12deg);
  overflow: visible;
}

.inactive
{
  pointer-events: none;
}

.SocialMediaContainer
{
  grid-row-start: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SocialMediaContainer h3
{
  color: black;
  font-size: 20px;
  margin: 12px 0;
}

.SocialMediaIconsContainer
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.SocialMediaIconsContainer button
{
  background-color: black;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: all 0.125s ease-in-out;
}

.SocialMediaIconsContainer button:hover
{
  scale: 1.1;
}

.SocialMediaIconsContainer button svg
{
  width: 90%;
  height: 90%;
}

.CreditsPageContainer
{
  width: 100%;
  height: 100%;
  grid-row-start: 2;
  padding: 0 20px;
  display: grid;
  grid-template-rows: 40px minmax(0, 1fr);
  position: relative;
}

.CreditsPageTabsContainer
{
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  position: relative;
}

.CreditsPage
{
  width: 100%;
  height: 100%;
  border-radius: 0 12px 12px 12px;
  grid-row-start: 2;
  padding: 40px;
  position: relative;
}

.Team
{
  background-color: black;
}

.API
{
  background-color: rgb(41, 41, 41);
}

.AO
{
  background-color: rgb(70, 70, 70);
}

.CreditsPageTab
{
  width: 80px;
  height: 100%;
  bottom: 0px;
  border-radius: 20px 20px 0 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  color: white;
}

.CreditsPageTab:hover
{
  height: 120%;
}

.CreditsPageTab.AO
{
  left: 0px;
  z-index: 3;
}

.CreditsPageTab.API
{
  left: 72px;
  z-index: 2;
}

.CreditsPageTab.Team
{
  left: 148px;
  z-index: 1;
}

.CreditsPageTab.selected
{
  z-index: 4;
}

.CreditsPageTab.selected:hover
{
  height: 100%;
  cursor: auto;
}

.AoPage,
.ApiPage
{
  display: grid;
  grid-template-rows: 100px minmax(0, 1fr);
  place-items: center;
  position: relative;
  height: 100%;
}

.AoPage h1,
.ApiPage h1
{
  font-size: 40px;
  color: white;
  text-align: center;
  margin: 0;
  line-height: normal;
}

.AoPage > div,
.ApiPage > div
{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.AoPage > div p,
.ApiPage > div p
{
  font-size: 24px;
  line-height: 1.2;
  overflow-y: scroll;
  color: white;
  margin-bottom: 0;
}

.TeamPage
{
  display: grid;
  place-items: center;
  grid-template-rows: auto 120px;
  position: relative;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px)
{
  .CreditsPage
  {
    padding: 32px;
  }

  .CreditsCloseButton
  {
    transform: translateX(0);
    right: 20px;
    top: 20px;
    left: auto;
  }

  .CreditsContainer
  {
    width: 100%;
  }
  
  .AoPage,
  .ApiPage
  {
    grid-template-rows: 60px minmax(0, 1fr);
  }

  .AoPage h1,
  .ApiPage h1
  {
    font-size: 32px;
  }
  
  .AoPage > div p,
  .ApiPage > div p
  {
    margin-top: 12px;
    font-size: 20px
  }
}


@media only screen and (max-height: 900px)
{
  .CreditCard
  {
    width: 320px;
    left: -160px;
    top: -190px;
  }
  
  .CreditCard h2
  {
    font-size: 16px;
  }

  .PhotoContainer
  {
    top: -49px;
    left: -18px;
    width: 36px;
    height: 98px;
  }
}

@media only screen and (max-width: 500px)
{
  .CreditCard
  {
    width: 320px;
    left: -160px;
    top: -190px;
  }
  
  .CreditCard h2
  {
    font-size: 16px;
  }
  
  .PhotoContainer
  {
    top: -49px;
    left: -18px;
    width: 36px;
    height: 98px;
  }
}


@media only screen and (max-height: 790px)
{
  .CreditCard
  {
    width: 200px;
    left: -100px;
    top: -124px;
  }
}

@media only screen and (max-width: 400px)
{
  .CreditCard
  {
    width: 200px;
    left: -100px;
    top: -124px;
  }
}

