.video-container-modal {
    width: 98vw;
    position: relative
}

.video-container-modal iframe.video-iframe{
    height: calc(98dvh - 200px);
    width: 98vw;
    transition: all 0.2s linear;
    transform-origin: center center;
}

.video-container-modal iframe.video-iframe.transition {
    scale: 0;
}

.video-container-modal .button-cover {
    padding: 0 20px;
}

.video-container-modal .button-cover > * {
    min-width: auto;
}

.img-loader-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.img-loader {
    width: 80px;
    animation: rotateCircle 1s linear infinite;
}

@keyframes rotateCircle { 
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

